/*seperate css for portfolio.html page */
.gametext {
    color: #ffffff;
}
.gametext:hover {
    color: #777777;
}
.textbox {
    position: relative;
    float: left;
    width: 295px;
    margin: 20px 0 25px;
    overflow: auto;
}

.textbox:hover {
    outline: 0px solid transparent;
    background-image: 
        linear-gradient( 
            to right,
            #1e4543, #91c4c2, #1e4543);
    font-weight: bolder;
}
.textbox:nth-child(even) {
    margin-right: 40px;
  }
.textbox h3 {
        position: absolute;
        bottom: 20px;
        width: 100%;
        padding: 15px;
        margin-bottom: 0;
        font-weight: 300;
        line-height: 30px;
        color: #ffffff;
        text-align: center;
        background: #4aaaa5;
        border-bottom: 0;
}

/*hangman*/

.hangman-image {
    width: 100%;
    border: 0 none;
        float: left;
        height: auto;
        margin-top: 10px;
        margin-right: 25px;
}
/*rpg*/

.rpg-image {
    width: 100%;
    border: 0 none;
    float: left;
  height: auto;
  margin-top: 10px;
  margin-right: 25px;
}
/*trivia*/


.trivia-image {
    width: 100%;
    border: 0 none;
    float: left;
    height: auto;
    margin-top: 10px;
    margin-right: 25px;
}
/*rutgers*/

.rutgers-image {
    width: 100%;
  border: 0 none;
  float: left;
  height: auto;
  margin-top: 10px;
  margin-right: 25px;
}
/*rock*/


.rock-image {
    width: 100%;
    border: 0 none;
    float: left;
    height: auto;
    margin-top: 10px;
    margin-right: 25px;
}

.auth-image {
    float: left;
    width: 200px;
    height: auto;
    margin-top: 10px;
    margin-right: 25px;
  }
/*main-container for portfolio.html page */
.games {
    background-color: #ffffff;
    margin-top: 50px;
    width: 960px; 
    font-family: Arial, Helvetica, sans-serif;
    height: 825px;
    color: #ffffff;
}