.hangman-box {
    position: relative;
    float: left;
    margin-left: 30px;
    margin-top: 15px;
}

.hangman-box .hangman-text {
    position: absolute;
    margin: 0 auto;
    left: 0;
    right: 0;
    bottom: 5%;
    width: 275px;
    background-color: #4aaaa5;
    text-align: center;
}

.hangman-text:hover {
    outline: 0px solid transparent;
    color: #ffffff;
    background-image: 
        linear-gradient( 
            to right,
            #1e4543, #91c4c2, #1e4543);
    font-weight: bolder;
}

#hangman-image {
    height: 200px;
    width: 275px;
}

.rpg-box {
    position: relative;
    float: right;
    margin-right: 345px;
    margin-top: 15px;
}

.rpg-box .rpg-text {
    position: absolute;
    margin: 0 auto;
    left: 0;
    right: 0;
    bottom: 5%;
    width: 275px;
    background-color: #4aaaa5;
    text-align: center;
}

.rpg-text:hover {
    outline: 0px solid transparent;
    color: #ffffff;
    background-image: 
        linear-gradient( 
            to right,
            #1e4543, #91c4c2, #1e4543);
    font-weight: bolder;
}

#rpg-image {
    height: 200px;
    width: 275px;
}

.trivia-box {
    position: relative;
    float: left;
    margin-left: 30px;
    margin-top: 25px;
}

.trivia-box .trivia-text {
    position: absolute;
    margin: 0 auto;
    left: 0;
    right: 0;
    bottom: 5%;
    width: 275px;
    background-color: #4aaaa5;
    text-align: center;
}

.trivia-text:hover {
    outline: 0px solid transparent;
    color: #ffffff;
    background-image: 
        linear-gradient( 
            to right,
            #1e4543, #91c4c2, #1e4543);
    font-weight: bolder;
}

#trivia-image {
    height: 200px;
    width: 275px;  
}

.rutgers-box {
    position: relative;
    float: right;
    margin-right: 345px;
    margin-top: 25px;
}

.rutgers-box .rutgers-text {
    position: absolute;
    margin: 0 auto;
    left: 0;
    right: 0;
    bottom: 5%;
    width: 275px;
    background-color: #4aaaa5;
    text-align: center;
}

.rutgers-text:hover {
    outline: 0px solid transparent;
    color: #ffffff;
    background-image: 
        linear-gradient( 
            to right,
            #1e4543, #91c4c2, #1e4543);
    font-weight: bolder;
}

#rutgers-image {
    height: 200px;
    width: 275px;
}

.rock-box {
    position: relative;
    float: left;
    margin-left: 30px;
    margin-top: 25px;
}

.rock-box .rock-text {
    position: absolute;
    margin: 0 auto;
    left: 0;
    right: 0;
    bottom: 5%;
    width: 275px;
    background-color: #4aaaa5;
    text-align: center;
}

.rock-text:hover {
    outline: 0px solid transparent;
    color: #ffffff;
    background-image: 
        linear-gradient( 
            to right,
            #1e4543, #91c4c2, #1e4543);
    font-weight: bolder;
}

#rock-image {
    height: 200px;
    width: 275px;
}

.main-container {
    background-color: #ffffff;
    margin-top: 50px;
    width: 960px; 
    font-family: Arial, Helvetica, sans-serif;
    height: 825px;
    color: #ffffff;
}